In [12]:
import sqlite3

db_file = 'test.db'

try:
    sqlite_connection = sqlite3.connect(db_file)
    cursor = sqlite_connection.cursor()
    print('база данных успешно создана!')

except sqlite3.Error as error:
    print('Ошибка подключения', error)

command = """
    CREATE TABLE IF NOT EXISTS "user"(
        id INTEGER PRIMARY KEY,
        first_name VARCHAR(50) NOT NULL,
        last_name VARCHAR(50) NOT NULL,
        age INTEGER
    );
"""

cursor.execute(command)

command1 = """
    INSERT INTO "user"(first_name, last_name, age)
    VALUES ('Sergei', 'Dmitriev', 28 ),
    ('Alex', 'Vyazhevich', 15 ),
    ('Tom', 'Redl', 19 ),
    ('Sergei', 'Petrov', 17 ),
    ('Petr', 'Kovalsky', 22 )    
"""

cursor.execute(command1)

sqlite_connection.commit()

база данных успешно создана!

In [13]:
import sqlite3

command = """
    SELECT * FROM "user"
    WHERE first_name = ?
"""

name = "Sergei"
with sqlite3.connect(db_file) as conn:
    cur = conn.cursor()
    result = cur.execute(command, [name])
    
    print(result.fetchall())

[(1, 'Sergei', 'Dmitriev', 28), (4, 'Sergei', 'Petrov', 17)]

In [14]:
import sqlite3

command = """
    SELECT * FROM "user"
    WHERE age < ?
"""

with sqlite3.connect(db_file) as conn:
    cur = conn.cursor()
    result = cur.execute(command, [25])
    
    print(result.fetchall())

[(2, 'Alex', 'Vyazhevich', 15), (3, 'Tom', 'Redl', 19), (4, 'Sergei', 'Petrov', 17), (5, 'Petr', 'Kovalsky', 22)]

In [15]:
import sqlite3

command = """
    SELECT * FROM "user"
    WHERE age < ?
    AND age > ?
"""

with sqlite3.connect(db_file) as conn:
    cur = conn.cursor()
    result = cur.execute(command, [18, 15])
    
    print(result.fetchall())

[(4, 'Sergei', 'Petrov', 17)]